*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    animation: name 5s, letter 1.5s alternate linear infinite 5s;
    transform: scale(2);
}
@keyframes name{
    from { 
        transform: scale(0) rotate(0);
        opacity: 0;
    }
    to{
        transform: scale(2) rotate(360deg);
        opacity: 1;
    }
}
@keyframes letter{
    0%{
        color: #000;
    }
    25%{
        color: rgba(255, 0, 0, 0.778);
    }
    50%{
        color: rgba(0, 128, 0, 0.841);
    }
    75%{
        color: rgba(255, 192, 203, 0.805);
    }
    100%{
        color: rgba(255, 255, 0, 0.713);
    }
}